.App {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    min-height: 100vh;
    padding: 20px 20px;
    text-align: center;
    box-sizing: border-box;
    background-image: url("./utils/glow.png");
    background-repeat: repeat;
    overflow-x: hidden;
    font-family: "Titillium Web";
    color: #65a4b6;
    margin: 0px;
    /* background-image: url(background-large.jpg); */
    background-color: #080f1e;
}

.detailsBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0px 0px 20px 0px;
}